extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 #{title}
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							table#tab-classroom.table.table-bordered.table-striped
								thead
									tr
										th STT
										th Mã phòng học
										th Kiểu phòng học
										th Sức chứa tối đa
										th Tình trạng
										th Thao tác
								tbody
									//- each classroom in classroomList 
									//- 	tr 
									//- 		td 1
									//- 		td=classroom.roomID
									//- 		td=classroom.roomType
									//- 		td 100
									//- 		td Đang bảo trì
									//- 		td.text-center
									//- 			//- .btn.btn-primary.btn-xs
									//- 			a(style="margin-right: 5px; ", href="/faculty/edit/" + subject.subjectID) 
									//- 				i.fas.fa-edit
									//- 			//.btn.btn-danger.btn-xs
									//- 			a(href="/faculty/delete/" + subject.subjectID)
									//- 				i(style ='color: red').fas.fa-trash 

//- block script 
//- 	script(src="/javascripts/study/subject.js") 