extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 #{title}
	section.content
		.container-fluid
			h5.mt-4.mb-2
				| Năm học 2020-2021
			.row
				
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 211
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='/study/groupclass/2020.1')
							| Thông tin
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-success
						.inner
							h3 212
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='/study/groupclass/2020.2')
							| Thông tin
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-danger
						.inner
							h3 213
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='/study/groupclass/2020.3')
							| Thông tin 
							i.fas.fa-arrow-circle-right
			
			h5.mt-4.mb-2
				| Năm học 2019-2020
			.row
				
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 150
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='#')
							| More info
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 150
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='#')
							| More info
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 150
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='#')
							| More info
							i.fas.fa-arrow-circle-right
			
			h5.mt-4.mb-2
				| Năm học 2018-2019
			.row
				
				.col-lg-4.col-6
					.small-box.bg-info
						.inner
							h3 150
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='#')
							| More info
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 150
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='#')
							| More info
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 150
							p New Orders
						.icon
							i.fas.fa-shopping-cart
						a.small-box-footer(href='#')
							| More info
							i.fas.fa-arrow-circle-right

//- block script 
//- 	script(src="/javascripts/study/subject.js") 